{#
/**
 * @file
 * Olivero's theme override to display the content region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if is_front %}
{%
  set classes = [
    'row',
    'mx-0',
    'px-0',
    'region',
    'region--' ~ region|clean_class,
    'grid-full',
    'layout--pass--content-medium',
  ]
%}
{% else %}
{%
  set classes = [
    'row',
    'mx-0',
    'px-2',
    'px-md-5',
    'pt-2',
    'pt-md-5',
    'region',
    'region--' ~ region|clean_class,
    'grid-full',
    'layout--pass--content-medium',
  ]
%}
{% endif %}

{% if content %}
  <div{{ attributes.addClass(classes) }} id="content">
    {{ content }}
  </div>
{% endif %}

